{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-4">
        <h1>email/contact.html.twig un nouveau bien</h1>
		<h1>Nom  : {{ contact.lastname }}</h1>
		<h1>Prenom  : {{ contact.firstname }}</h1>
		<h1>Message  : {{ contact.message }}</h1>
 
{% endblock %}