{% extends 'base.html.twig' %}

{% block body %}
<br>template :  index.html.twig</br>
   <br> <a href="{{ path('security_login')}}"> Connexion - security_login</a></br>
    <a href="{{ path('user_registration')}}"> Inscription - user_registration</a><br>
	
	<a href="{{ path('admin')}}"> admin</a>
	<h1>test</h1>
	<a href="{{ path('homepage')}}"> homepage</a>
        
{% endblock %}

