{% extends 'base.html.twig' %}

{% block title %}Hello CoachController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    
	<h1>COACHING ENTRETIEN D’EMBAUCHE</h1>


<p>Il est temps pour vous d’apprendre à FAIRE LA DIFFERENCE! Votre CV suscite l’intérêt des recruteurs </p>
<p>mais vos entretiens se soldent toujours par un refus.</p>
<p>Un entretien d’embauche est un exercice difficile. Face à un marché de l’emploi sélectif, il est important</p> 
<p>de savoir se démarquer des autres candidats.</p> 
<p>Préparez-vous avec une coach spécialisée en recrutement pour REUSSIR VOS ENTRETIENS.</p>
<img src="http://www.pataplouf.com/mypopo/public/images/products/anne1.jpg" />

</div>
{% endblock %}
